<div class="card bg-transparent text-muted border-0">
    <div class="card-header bg-transparent">
        <h4>Change Password</h4>
        <p class="txt-orange" >To security your account, please don't share your password with others</p>
    </div>
    <div class="card-body">
        <div class="w-75 d-flex flex-column justify-content-center">
            <form action="">
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label text-end text-nowrap">Password</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"
                            name="Password" id="Password" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label text-end text-nowrap">Confirm Password</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"
                            name="ConfirmPassword" id="ConfirmPassword" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label text-end text-nowrap">Verification Code</label>
                    <div class="col-sm-8">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="VerificationCode" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="SendCode">Send Code</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4"></label>
                    <div class="col-sm-8">
                        <button class="btn bg-green text-white" type="submit" id="ChangePassword">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>